<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664161116814-o2jmfcthp04lomjdjiuffs633ak174qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664161116814-o2jmfcthp04lomjdjiuffs633ak174qn</string>
	<key>API_KEY</key>
	<string>AIzaSyChRSM0x_ibhSV08m89z0nqzljYrcElKp4</string>
	<key>GCM_SENDER_ID</key>
	<string>664161116814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.UserLogin</string>
	<key>PROJECT_ID</key>
	<string>userlogin-67235</string>
	<key>STORAGE_BUCKET</key>
	<string>userlogin-67235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664161116814:ios:16e0e0ff90b95225525fdf</string>
</dict>
</plist>